<body id = "searchlist">
  <main>

    <section>
      <%if @recipes.length > 9 %>
      <%= link_to "previous", recipe_list_path(:search => @ingredient, :page => @page - 1), class: "button" %>
      <% end %>
      <%= link_to "next", recipe_list_path(:search => @ingredient, :page => @page + 1), class: "button"%>
      <%= link_to "New Search", root_path, class: "button" %>
    </section>

    <section class="row" >


        <% if @recipes.length == 0 %>
        <%= "No recipes match your search. Please try again!" %>
        <% end %>
        <% @recipes.each do |recipe| %>
        <div class="left large-3 columns">
          <ul>
            <li class="recipe">

              <h6><span class="link"><%= link_to "#{recipe.label}", recipe_path(recipe.id) %></span></h6>
              <p class="image"><%= image_tag(recipe.image) %></p>
              <div>
                <%= recipe.calories.floor/recipe.yield.floor %> Calories    |
                <%= recipe.ingredients.count %>    Ingredients
              </div>
              <div>From
                <span class="link"><%= link_to "#{recipe.source} ", recipe.url, class: "link" %></span>
              </div>

            </li>
          </ul>
        </div>
        <% end %>
      </section>

      <section>
        <%if @recipes.length > 9 %>
        <%= link_to "previous", recipe_list_path(:search => @ingredient, :page => @page - 1), class: "button" %>
        <% end %>
        <%= link_to "next", recipe_list_path(:search => @ingredient, :page => @page + 1), class: "button"%>
        <%= link_to "New Search", root_path, class: "button" %>
      </section>

    </main>

  </body>
