<body id="recipepage">
  <main>
    <section>
      <%= link_to "New Search", root_path, class: "button" %>
    </section>

    </div><%= image_tag(@recipe.image) %><h2><%= @recipe.label %></h2></div></br>

    <section class="columns large-3 small-12">

      <table>
        <thead>
          <tr>
              <h3>Ingredients</h3>
          </tr>
        </thead>
        <% @recipe.ingredients.each do |ingredient| %>
        <tr>
          <td>
            <%= ingredient %>
          </td>
        </tr>
        <% end %>
      </table>
    </section>

    <section class="columns large-6 small-12">
      <!-- <h3>Nutrition</h3> -->
      <table>
        <thead>
          <tr>
            <h3>Nutrition</h3>
          </tr>
        </thead>
        <% @recipe.nutrition.each do |key, value| %>
        <tr>
          <td>
            <%= value["label"] %>
          </td>
          <td>
            <%= value["quantity"].floor %>
          </td>
          <td>
            <%= value["unit"] %>
          </td>
        </tr>
        <% end %>
      </table>
    </section>

    <section class="left columns large-3 small-12">
      <table>
        <thead>
          <tr>
              <h3>Preparation</h3>
          </tr>
        </thead>
        <tr> See full recipe on <span class="link"><%= link_to "#{@recipe.source} ", @recipe.url, class: "link" %></span></tr>
      </table>
    </section>
    
  </main>
</body>
